<template>
  <div
    class="col-12 col-md-8 mx-auto mt-4 border border-secondary p-5 bg-white"
  >
    <h3 class="text-center text-primary my-4">Edit CondidateInJoboffer</h3>
    <CondidateInJobofferForm isEdit />
  </div>
</template>
<script lang="ts" setup>
import CondidateInJobofferForm from "@/components/forms/CondidateInJobofferForm.vue";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/config";
import { onMounted } from "vue";
onMounted(() => {
  setCurrentPageBreadcrumbs("Edit condidateinjoboffer", [
    "condidateinjoboffers",
  ]);
});
</script>
