<template>
  <el-form
    :model="condidate"
    label-width="120px"
    :rules="rules"
    ref="ruleFormRef"
  >
    <el-form-item label="name" prop="name">
      <el-input v-model="condidate.name" data-test="condidateFormname" />
    </el-form-item>
    <el-form-item label="familyName" prop="familyName">
      <el-input
        v-model="condidate.familyName"
        data-test="condidateFormfamilyName"
      />
    </el-form-item>
    <el-form-item label="resume" prop="resume">
      <el-input v-model="condidate.resume" data-test="condidateFormresume" />
    </el-form-item>
    <el-form-item label="email" prop="email">
      <el-input
        v-model="condidate.email"
        type="email"
        data-test="condidateFormemail"
      />
    </el-form-item>
    <div class="d-flex justify-content-end">
      <el-button
        data-test="condidateFormCancelButton"
        @click="resetForm(ruleFormRef)"
        >Cancel</el-button
      >
      <el-button
        data-test="condidateFormSubmitButton"
        type="primary"
        @click="onSubmit(ruleFormRef)"
        >{{ isEdit ? "Save" : "Create" }}</el-button
      >
    </div>
  </el-form>
</template>
<script lang="ts" setup>
import { onMounted } from "vue";
import { reactive, ref } from "vue";
import { storeToRefs } from "pinia";

import { useCondidateStore } from "@/store/useCondidateModule";
import { useRoute, useRouter } from "vue-router";
import type { ElForm } from "element-plus";
import { Components } from "@tekab-dev-team/storybook-devfactory";
import { t } from "@/core/i18n/translate";
import { useAuthStore } from "@/store/useAuth";
import service from "@/service";

const { currentUser } = storeToRefs(useAuthStore());

const props = defineProps({
  isEdit: { type: Boolean, default: false },
});

const { condidate, error } = storeToRefs(useCondidateStore());
const {
  getCondidateById,
  createCondidate,
  editCondidate,
  resetCondidate,
} = useCondidateStore();

const route = useRoute();
const router = useRouter();
const ruleFormRef = ref<InstanceType<typeof ElForm>>();
const isLoading = ref<boolean>(false);
const rules = reactive({
  name: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  familyName: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  resume: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  email: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
});

const handleSubmitForm = async () => {
  isLoading.value = true;
  if (props.isEdit) {
    const id = route?.params?.id as string;
    return await editCondidate({ id });
  } else await createCondidate();
};

const onSubmit = (formEl: InstanceType<typeof ElForm> | undefined) => {
  if (!formEl) return;
  formEl.validate(async (valid) => {
    if (valid) {
      await handleSubmitForm();
      if (!!error.value) {
        Components.ElMessage.error(error.value?.message);
        console.log(error, "error");
      } else {
        router.push({ name: `${currentUser.value.roles[0]}-list-condidate` });
        resetCondidate();
      }
    } else {
      console.log("error submit!");
      return false;
    }
  });
};
const resetForm = (formEl: InstanceType<typeof ElForm> | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
  resetCondidate();
};
const getCurrentCondidate = async (id: string) => {
  if (props.isEdit) {
    await getCondidateById(id);
  }
};

onMounted(async () => {
  const id = route.params.id as string;

  await getCurrentCondidate(id);
});
</script>
