<template>
  <el-form
    :model="condidateinjoboffer"
    label-width="120px"
    :rules="rules"
    ref="ruleFormRef"
  >
    <el-form-item label="jobIdId" prop="jobId">
      <el-select
        v-model="condidateinjoboffer.jobIdId"
        data-test="condidateinjobofferFormjobIdId"
        class="m-2"
        placeholder="Select"
        size="large"
      >
        <el-option
          v-for="joboffer in joboffers"
          :data-test="joboffer?.id"
          :label="joboffer?.id"
          :key="joboffer?.id"
          :value="joboffer?.id"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="condidateIdId" prop="condidateId">
      <el-select
        v-model="condidateinjoboffer.condidateIdId"
        data-test="condidateinjobofferFormcondidateIdId"
        class="m-2"
        placeholder="Select"
        size="large"
      >
        <el-option
          v-for="user in users"
          :data-test="user?.id"
          :label="user?.id"
          :key="user?.id"
          :value="user?.id"
        />
      </el-select>
    </el-form-item>
    <div class="d-flex justify-content-end">
      <el-button
        data-test="condidateinjobofferFormCancelButton"
        @click="resetForm(ruleFormRef)"
        >Cancel</el-button
      >
      <el-button
        data-test="condidateinjobofferFormSubmitButton"
        type="primary"
        @click="onSubmit(ruleFormRef)"
        >{{ isEdit ? "Save" : "Create" }}</el-button
      >
    </div>
  </el-form>
</template>
<script lang="ts" setup>
import { onMounted } from "vue";
import { reactive, ref } from "vue";
import { storeToRefs } from "pinia";

import { useCondidateInJobofferStore } from "@/store/useCondidateInJobofferModule";
import { useRoute, useRouter } from "vue-router";
import type { ElForm } from "element-plus";
import { Components } from "@tekab-dev-team/storybook-devfactory";
import { t } from "@/core/i18n/translate";
import { useAuthStore } from "@/store/useAuth";
import service from "@/service";

const { currentUser } = storeToRefs(useAuthStore());

const props = defineProps({
  isEdit: { type: Boolean, default: false },
});
let joboffers = ref([]);
let users = ref([]);
const { condidateinjoboffer, error } = storeToRefs(
  useCondidateInJobofferStore()
);
const {
  getCondidateInJobofferById,
  createCondidateInJoboffer,
  editCondidateInJoboffer,
  resetCondidateInJoboffer,
} = useCondidateInJobofferStore();

const route = useRoute();
const router = useRouter();
const ruleFormRef = ref<InstanceType<typeof ElForm>>();
const isLoading = ref<boolean>(false);
const rules = reactive({
  jobId: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  questions: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  responses: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  condidateId: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
});

const handleSubmitForm = async () => {
  isLoading.value = true;
  if (props.isEdit) {
    const id = route?.params?.id as string;
    return await editCondidateInJoboffer({ id });
  } else await createCondidateInJoboffer();
};

const onSubmit = (formEl: InstanceType<typeof ElForm> | undefined) => {
  if (!formEl) return;
  formEl.validate(async (valid) => {
    if (valid) {
      await handleSubmitForm();
      if (!!error.value) {
        Components.ElMessage.error(error.value?.message);
        console.log(error, "error");
      } else {
        router.push({
          name: `${currentUser.value.roles[0]}-list-condidateinjoboffer`,
        });
        resetCondidateInJoboffer();
      }
    } else {
      console.log("error submit!");
      return false;
    }
  });
};
const resetForm = (formEl: InstanceType<typeof ElForm> | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
  resetCondidateInJoboffer();
};
const getCurrentCondidateInJoboffer = async (id: string) => {
  if (props.isEdit) {
    await getCondidateInJobofferById(id);
  }
};

import { useJobofferStore } from "@/store/useJobofferModule";

const { jobofferList } = storeToRefs(useJobofferStore());

const { fetchJoboffers } = useUserStore();

const getListOfJoboffer = async () => {
  const { data } = await service.joboffer.jobofferList();

  joboffers.value = data.paginatedResult;
};
import { useUserStore } from "@/store/useUserModule";

const { userList } = storeToRefs(useUserStore());

const { fetchUsers } = useUserStore();

const getListOfUser = async () => {
  const { data } = await service.user.userList();

  users.value = data.paginatedResult;
};

onMounted(async () => {
  const id = route.params.id as string;
  await getListOfJoboffer();
  await getListOfUser();
  await getCurrentCondidateInJoboffer(id);
});
</script>
