<template>
  <el-form
    :model="joboffer"
    label-width="120px"
    :rules="rules"
    ref="ruleFormRef"
  >
    <el-form-item label="image" prop="image">
      <el-input v-model="joboffer.image" data-test="jobofferFormimage" />
    </el-form-item>
    <el-form-item label="status" prop="status">
      <el-select
        v-model="joboffer.status"
        data-test="jobofferFormstatus"
        class="m-2"
        placeholder="Select"
        size="large"
      >
        <el-option
          v-for="option in jobofferEnumOptions?.status?.options"
          :data-test="option.value"
          :label="option.label"
          :key="option.value"
          :value="option.value"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="dateFin" prop="dateFin">
      <el-date-picker
        v-model="joboffer.dateFin"
        type="date"
        placeholder="Pick a date"
        style="width: 100%"
        data-test="jobofferFormdateFin"
      />
    </el-form-item>

    <div class="d-flex justify-content-end">
      <el-button
        data-test="jobofferFormCancelButton"
        @click="resetForm(ruleFormRef)"
        >Cancel</el-button
      >
      <el-button
        data-test="jobofferFormSubmitButton"
        type="primary"
        @click="onSubmit(ruleFormRef)"
        >{{ isEdit ? "Save" : "Create" }}</el-button
      >
    </div>
  </el-form>
</template>
<script lang="ts" setup>
import { onMounted } from "vue";
import { reactive, ref } from "vue";
import { storeToRefs } from "pinia";

import { useJobofferStore } from "@/store/useJobofferModule";
import { useRoute, useRouter } from "vue-router";
import type { ElForm } from "element-plus";
import { Components } from "@tekab-dev-team/storybook-devfactory";
import { t } from "@/core/i18n/translate";
import { useAuthStore } from "@/store/useAuth";
import service from "@/service";

const { currentUser } = storeToRefs(useAuthStore());

const props = defineProps({
  isEdit: { type: Boolean, default: false },
});

const { joboffer, error } = storeToRefs(useJobofferStore());
const {
  getJobofferById,
  createJoboffer,
  editJoboffer,
  resetJoboffer,
} = useJobofferStore();

const route = useRoute();
const router = useRouter();
const ruleFormRef = ref<InstanceType<typeof ElForm>>();
const isLoading = ref<boolean>(false);
const jobofferEnumOptions = {
  status: { options: [{ label: "created", value: "Created" }] },
};
const rules = reactive({
  jobDescription: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  image: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  status: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
  dateFin: [
    {
      required: false,
      message: `${t("entityForm.validation.required")}`,
      trigger: "blur",
    },
  ],
});

const handleSubmitForm = async () => {
  isLoading.value = true;
  if (props.isEdit) {
    const id = route?.params?.id as string;
    return await editJoboffer({ id });
  } else await createJoboffer();
};

const onSubmit = (formEl: InstanceType<typeof ElForm> | undefined) => {
  if (!formEl) return;
  formEl.validate(async (valid) => {
    if (valid) {
      await handleSubmitForm();
      if (!!error.value) {
        Components.ElMessage.error(error.value?.message);
        console.log(error, "error");
      } else {
        router.push({ name: `${currentUser.value.roles[0]}-list-joboffer` });
        resetJoboffer();
      }
    } else {
      console.log("error submit!");
      return false;
    }
  });
};
const resetForm = (formEl: InstanceType<typeof ElForm> | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
  resetJoboffer();
};
const getCurrentJoboffer = async (id: string) => {
  if (props.isEdit) {
    await getJobofferById(id);
  }
};

onMounted(async () => {
  const id = route.params.id as string;

  await getCurrentJoboffer(id);
});
</script>
